<h1><%= @work.title %></h1>
<h2><em><%= link_to @work.artist.name, @work.artist if @work.artist %></em></h2>

<%= image_tag(@work.image, :class => 'feature') %>
<!-- TODO Show other database columns here -->

<div class="controls">
  <%= link_to 'Edit work', edit_work_path(@work) %>
  <%= link_to 'Delete work', @work, :method => 'delete', :data => {:confirm => 'Are you sure?'} %>
</div>
